body, h1, h2, h3, h4, p, ul, li, div, form, img {
    color: #222222;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

img {
    border: 0;
}

h1 {
    font-size: 15px;
    font-weight: bold;
    color: #4E6F16;
    margin: 0px 0px 8px 0px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: #4E6F16;
    margin: 12px 0px 8px 0px;
}

h3 {
    font-size: 13px;
    font-weight: bold;
    color: #4E6F16;
    padding: 0px;
    margin: 0px 0px 8px 0px;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    margin: 0px 0px 5px 0px;
}

a:link {
    color: #339BCC;
}

a:visited {
    color: #000066;
}

a:hover {
    color: #000000;
}

p {
    margin: 12px 0px 12px 0px;
}

ul {
    margin: 10px 4px 10px 24px;
}

li {
    margin: 4px 7px 4px 7px;
    line-height: 130%;
}

hr {
    border: 1px solid #4E6F16;
    height: 1px;
    margin: 10px 0px 10px 0px;
}

em {
    font-weight: bold;
    font-style: normal;
}

input, select, textarea {
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    border-radius: 0 0 10px 10px;
    width: 760px;
    background: #F4F4F4;
    box-shadow: 0px 0px 5px #999;
}

.header {
    background: url(/images/header.png);
    height: 56px;
}

.subnav {
    height: 20px;
    background: url(/images/subnav.png);
}

.content {
    padding: 22px;
    text-align: left;
}

.footer {
    height: 20px;
    background: url(/images/footer.png) repeat-x top;
    border-radius: 0 0 10px 10px;
}
